@import "tailwindcss";
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 14%);
}
#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 14%);
} */
